title
{
    font-size: xx-large;
}
h1
{
    color: orange;
    text-shadow: 10px 10px 10px green;
}
h2
{
    color:white;
}
main
{
    font-size: x-large;
    color:greenyellow;
    width: 500px;
}
img
{
    border-radius: 50%;
    vertical-align: right;
    margin-right: auto;
    display: inline;
    float: right;
}
div
{
    display: block;
    float: right;
    background-color: white;
    color: black;
}
body
{
    background-image: radial-gradient(ellipse, darkblue 16%, blue 50%, aqua 100%);
    background-repeat: no-repeat;
    height: 1000px;
    background-size: 100%;
    background-position: center;
    color: white;
    padding: 33.3%;
}